.Notes form textarea {
  height: 300px;
  font-size: 1.5rem;
}

.flexbox-container-rv {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: left; */
  /* flex-basis: 50%; */
  width: 80%;
  border: 1px solid;
  /* padding: 10%; */
  margin: 10%;
}
.flex-items {
  /* background-color: #f4f4f4; */
  /* width: 100px;
  height: 50px; */
  margin: 10px;
  text-align: center;
  vertical-align: middle
  
    /* font-size: 40px; */
}

.profile-image {
  background-color: #102012;
  width: 100px;
  height: 100px;
}

.profile-name{
  text-align: left;
  font-size: 40px;
  font-weight: 900;
}

.member-since {
  text-align: left;
  font-size: 20px;
}

.profile-role {
  text-align: left;
  font-size: 20px;
}

.num-likes-rv {
  font-size: 20px;
  text-align: left;
  flex: 1;
}

.reviews {
  flex: 1;
}

.container-right{
  flex: 1;
}

.toast-body{
  font-size: 20px;
  font-weight: 400;
}